$iconAvatarSizeHeight: 90px;
$iconAvatarSizeWidth: 90px;
$avatarPictureHeight: 210px;

.icon-avatar {
    height: $iconAvatarSizeHeight;
    width: $iconAvatarSizeWidth;
}

.avatar-picture {
    height: $avatarPictureHeight;
}   
